body {
  background-color: lightcyan;
  margin: 100px;
  padding: 100px;
  border: 25px red solid;
  width: 850px;
  height: 800px;
}

h1, h2 {
  background-color: yellow;
  color: crimson;
}

ol li {
  font-size: 35px;
  color: blueviolet;

}